In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [4]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

## GRADER PLEASE NOTE

* Some of the instructions are different from the original but still adhere to the rubric.
* The students get the average precipitation per day instead of every single precipitation value.

In [9]:
# Find the most recent date in the data set.
session.query(func.count(Measurement.date)).all()

[(19550)]

In [10]:
most_recent_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
most_recent_date

('2017-08-23')

In [11]:
# Using this date, find the average precipitation per day
# for the preceding 12 months of data sorted by ascending date.
engine.execute('SELECT * FROM measurement LIMIT 5').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0)]

In [12]:
inspector = inspect(engine)
columns = inspector.get_columns('measurement')
for column in columns:
    print(column['name'], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [13]:
months_ago = dt.date(2017, 8, 23) - dt.timedelta(days=365)
months_ago

datetime.date(2016, 8, 23)

In [49]:
prcp_avg = engine.execute("SELECT date, prcp FROM measurement WHERE date >= '2016-08-23'\
                          ORDER BY date ASC").fetchall()
# prcp_avg

In [53]:
# Convert your results into a pandas DataFrame with date as index.
df_prcp = pd.DataFrame(prcp_avg)
df_prcp1 = df_prcp.rename(columns={0:"date", 1:"precipitation"})

In [62]:
grouped_df_prcp = df_prcp1.groupby("date")["precipitation"].agg([np.mean])
grouped_df_prcp1 = grouped_df_prcp.rename(columns={"mean": "precipitation"})
grouped_df_prcp1

            precipitation
date
2016-08-23       0.451667
2016-08-24       1.555000
2016-08-25       0.077143
2016-08-26       0.016667
2016-08-27       0.064000
...                   ...
2017-08-19       0.030000
2017-08-20       0.005000
2017-08-21       0.193333
2017-08-22       0.166667
2017-08-23       0.132500

[366 rows x 1 columns]

In [51]:
# Use Pandas Plotting with Matplotlib to plot the data
import seaborn as sns

In [ ]:
# Use Pandas to calculate the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Query total number of stations in dataset

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest, 
# highest, and average temperature recorded for this station.

In [ ]:
# Query the last 12 months of temperature observation data for this station.
# Plot the results as a histogram with bins = 12.

# Close session