# Bonus: Temperature Analysis I

In [19]:
# Dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, extract
import datetime as dt
import pandas as pd
from scipy.stats import ttest_ind

In [2]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
Base = automap_base()
Base.prepare(engine, reflect=True)

In [3]:
Base.classes.keys()

['measurement', 'station']

In [4]:
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
session = Session(engine)

In [20]:
# Average temperature in June at all stations across all available years 
# in the dataset. Do the same for December temperature.
avg_june_temp = session.query(Measurement.station, func.avg(Measurement.tobs)).\
                    group_by(Measurement.station).\
                    filter(extract("month", Measurement.date) == 6)

In [25]:
df = pd.read_sql(avg_june_temp.statement, avg_june_temp.session.bind)
avg_june_temp_df = df.rename(columns={"avg_1": "avg_june_temp"})
avg_june_temp_df

       station  avg_june_temp
0  USC00511918      74.139394
1  USC00513117      74.050847
2  USC00514830      76.005376
3  USC00516128      71.937220
4  USC00517948      76.655405
5  USC00518838      73.394737
6  USC00519281      73.271186
7  USC00519397      77.559322
8  USC00519523      76.668103

In [26]:
avg_december_temp = session.query(Measurement.station, func.avg(Measurement.tobs)).\
                    group_by(Measurement.station).\
                    filter(extract("month", Measurement.date) == 12)

In [27]:
df_1 = pd.read_sql(avg_december_temp.statement, avg_december_temp.session.bind)
avg_december_temp_df = df_1.rename(columns={"avg_1": "avg_december_temp"})
avg_december_temp_df

       station  avg_december_temp
0  USC00511918          69.684211
1  USC00513117          71.069444
2  USC00514830          73.224719
3  USC00516128          69.291262
4  USC00517948          71.834862
5  USC00518838          72.421053
6  USC00519281          69.903226
7  USC00519397          71.109524
8  USC00519523          72.433333

In [35]:
# Use t-test to determine if difference in means is statistically significant
ttest_ind(avg_june_temp_df["avg_june_temp"], 
          avg_december_temp_df["avg_december_temp"])

Ttest_indResult(statistic=4.615865424404701, pvalue=0.00028626292761018595)

In [ ]:
# Discuss which t-test to use and why and what your results mean.